@model IEnumerable<TFI_PAD.Models.Libro>

@{
    ViewBag.Title = "Biblioteca";
}

<div class="text-center">
    <h2>Biblioteca Universitaria</h2>
    <div>
        <div class="row">
            <div class="col-xs-8">
                <input id="filtro" placeholder="Filtrar libros" class="width-fill">
            </div>
            <div class="col-xs-4">
                @Html.ActionLink("Filtrar", "Filtrar", new { filtro = "filtroplaceholder"}, new { @class = "btn-primary btn", id = "linkFiltro"})
            </div>
        </div>
    </div>
    <br />
    <table class="table-bordered table table-striped">
        <thead>
            <tr>
                <th>
                    Titulo
                </th>
                <th>
                    Autor
                </th>
                <th>
                    Asignatura
                </th>
                <th>
                    Profesor
                </th>
                <th>

                </th>
                @if (ViewContext.HttpContext.User.IsInRole("Profesor"))
                {
                    <th>

                    </th>
                }
                
            </tr>
        </thead>
        <tbody>
            @foreach (var libro in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => libro.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => libro.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => libro.Asignatura.Nombre)
                </td>
                <td>
                    @Html.Label(libro.Perfil.Apellido + ", " + libro.Perfil.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Descargar", "Download", new { ID = libro.ID })
                </td>
                @if (ViewContext.HttpContext.User.IsInRole("Profesor") && ViewContext.HttpContext.User.Identity.Name.Split(':')[1] == libro.Perfil.Username)
                {
                    <td>
                        @Html.ActionLink("Eliminar", "Eliminar", new { ID = libro.ID })
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
    @if (ViewContext.HttpContext.User.IsInRole("Profesor")) 
    {
        @Html.ActionLink("Subir un Libro", "Upload", null, new { @class = "btn-primary btn" })
    }
</div>

<script>
    let link = $('#linkFiltro');
    link.on('click', () => {
        var filtro = $("#filtro").val();
        var oldLink = link.attr('href')
        console.log(oldLink);
        link.attr('href', oldLink.replace("filtroplaceholder", filtro))
    });
</script>


